.gitignore
.nyc_output/**
.vscode-test/**
.vscode/**
.yarnrc
assets/docs/**
coverage/**
docs/**
out/test/**
src/**
vsc-extension-quickstart.md
**/.eslintrc.json
**/*.map
**/*.pdn
**/*.ts
**/tsconfig.json
